@import url("import.css?v=260110");

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

@function --backgroundWithLoseColor(--hex, --value) {
  result: oklch(from var(--hex) calc(l + var(--value)) c h);
}

:root {
  --theme-color: #48683d;
  --theme-color-1: #48683d;
  --theme-color-2: #7ca55b;
  --theme-color-3: #a3c430;
  --theme-color-4: #f6efaa;
  --theme-color-5: #ffffff;
  --bg-color: #7ca55b;
  --bg-color-1: #7ca55b;
  --bg-color-2: #567571;
  --bg-color-3: #766a7e;
  --bg-color-4: #9d202f;
  --paper-color: #9ac579;
  --paper-flip-color: #bae699;
  --font-size-2xl: 12.8rem;
  --font-size-xl: 6.4rem;
  --font-size-l: 6rem;
  --font-size-ml: 4.8rem;
  --font-size-m: 4rem;
  --font-size-ms: 3.6rem;
  --font-size-s: 3.2rem;
  --font-size-xs: 3rem;
  --font-size-2xs: 2.6rem;
  --font-size-3xs: 2.2rem;
}

html {
  font-size: 1vmin;
  font-family: "Pretendard";
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

.txt-color-theme-1 {
  color: var(--theme-color-1);
}

.txt-color-theme-2 {
  color: var(--theme-color-2);
}

.txt-color-theme-3 {
  color: var(--theme-color-3);
}

.txt-color-theme-4 {
  color: var(--theme-color-4);
}

.txt-color-theme-5 {
  color: var(--theme-color-5);
}

.txt-position-left {
  text-align: left;
}

.txt-position-center {
  text-align: center;
}

.txt-position-right {
  text-align: right;
}

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap1 {
  gap: 1rem !important;
}

.gap2 {
  gap: 2rem !important;
}

.gap3 {
  gap: 3rem !important;
}

.gap4 {
  gap: 4rem !important;
}

.gap5 {
  gap: 5rem !important;
}

.gap6 {
  gap: 6rem !important;
}

/* 메인 페이지 */
.content-area {
  width: 100%;
  height: 100%;
  padding: 10rem 14rem;
  box-sizing: border-box;
}

.appeal-message-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.appeal-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.appeal-message .main {
  font-size: var(--font-size-2xl);
  font-weight: 700;
  min-width: 45rem;
}

.appeal-message .summary {
  font-size: var(--font-size-s);
  color: var(--theme-color-3);
  list-style-type: disc;
  list-style-position: inside;
  min-width: 45rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public-relations-area {
  text-align: right;
}

.pr-message {
  color: var(--theme-color-5);
  font-size: var(--font-size-m);
  line-height: 1.2;
}

.pr-message.line {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.pr-message.line::before {
  content: "";
  flex-grow: 1;
  height: 0.4rem;
  line-height: 0;
  margin-left: -20rem;
  background: var(--theme-color-4);
}

.paper {
  font-size: var(--font-size-2xl);
}

/* 영역 헤더 */
.content-area .outline {
  font-size: var(--font-size-xl);
  font-weight: 700;
  color: var(--theme-color-5);
  margin-top: -6.4rem;
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

.content-area .outline span {
  font-size: var(--font-size-ms);
}

.content-area .outline::before {
  content: "";
  flex-grow: 1;
  height: 0.2rem;
  line-height: 0;
  margin-left: -20rem;
  background: var(--theme-color-5);
}

/* 각 페이지 컨텐츠 */
.info {
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--theme-color-5);
  margin-top: 2rem;
  flex-wrap: wrap;
  row-gap: 5rem;
  align-content: baseline;
}

.info .left-area,
.info .right-area,
.info .full-area {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 5rem;
}

.info .full-area {
  word-break: keep-all;
}

.info .intro {
  display: flex;
  row-gap: 2rem;
  column-gap: 5rem;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
}

.info .intro .logo {
  display: flex;
  flex-direction: column;
}

.info .intro .logo img {
  width: 16rem;
  border: #ffffff 0.4rem solid;
  background-color: rgba(255, 255, 255, 0.5);
}

.info .intro .summary {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info .intro .summary .main {
  color: var(--theme-color-5);
  font-size: var(--font-size-m);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  word-break: keep-all;
  font-weight: 700;
}

.info .intro .summary .main span {
  font-size: var(--font-size-xs);
  align-content: end;
  font-weight: 400;
}

.info .intro .summary .sub {
  color: var(--theme-color-1);
  font-size: var(--font-size-3xs);
}

.info .history {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}

.info .history > * {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* flex: 1 1 0; */
}

.info .title {
  font-size: var(--font-size-ms);
  font-weight: 700;
}

.info .title a {
  font-size: var(--font-size-2xs);
  font-weight: 400;
  color: var(--theme-color-5);
  text-decoration: none;
  margin-left: 1rem;
  pointer-events: all;
}

.info .history .content,
.info .history .content ul,
.info .history .content ul li {
  display: flex;
  flex-wrap: wrap;
}

.info .history .content {
  white-space: nowrap;
  flex-direction: column;
  flex-shrink: 0;
  gap: 2rem;
}

.info .history .content ul,
.info .history .content ul li {
  flex-direction: column;
  gap: 1rem;
}

/* .info .history .content ul li {
  gap: 1rem;
} */

.info .presentaion > * {
  display: flex;
  gap: 3rem;
}

.info .content .list-head {
  font-size: var(--font-size-xs);
}

.info .content .list-body {
  font-size: var(--font-size-2xs);
}

.indent p {
  text-indent: -2rem;
  padding-left: 2rem;
}

.info .content .wrap {
  white-space: normal;
  word-break: keep-all;
  min-width: 35rem;
}

.info .cover img {
  width: 100%;
  aspect-ratio: auto;
  min-width: 35rem;
}

/* scroll-section background */
.scroll-section-area:nth-of-type(1) {
  /* background: #49b293; */
  background: var(--bg-color-1);
  --bg-color: var(--bg-color-1);
  --paper-color: #9ac579;
  --paper-flip-color: #bae699;
}

.scroll-section-area:nth-of-type(2) {
  /* background: #c94e4b; */
  background: var(--bg-color-2);
  --bg-color: var(--bg-color-2);
  --paper-color: #73938f;
  --paper-flip-color: #91b2ad;
}

.scroll-section-area:nth-of-type(3) {
  /* background: #4cc1be; */
  background: var(--bg-color-3);
  --bg-color: var(--bg-color-3);
  --paper-color: #94879c;
  --paper-flip-color: #b3a6bb;
}

.scroll-section-area:nth-of-type(4) {
  /* background: #8360A6; */
  background: var(--bg-color-4);
  --bg-color: var(--bg-color-4);
  --paper-color: #bf434a;
  --paper-flip-color: #e26367;
}

@media print {
  @page {
    size: auto;
    margin: 0;
  }

  .scroll-container,
  .scroll-section-area-inner,
  .papers {
    height: auto;
    overflow: visible;
  }

  .scroll-section-area-inner:first-child {
    page-break-before: avoid;
  }

  .scroll-section-area {
    /* 배경색/이미지 출력 */
    /* -webkit-print-color-adjust: exact;
    print-color-adjust: exact; */
  }

  .paper,
  .paper::after {
    height: 100vh;
    position: relative;
    /* page-break-before: always; */
    /* 요소가 페이지 중간에 잘리지 않도록 함 */
    /* page-break-inside: avoid; */
    /* 이 클래스 뒤에서 무조건 페이지를 나눔 */
    /* page-break-after: always; */
  }

  .content-area {
    height: 100vh;
  }

  .content-area * {
    color: #000000 !important;
  }

  .pr-message.line::before,
  .content-area .outline::before {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background: #000000;
  }

  .info .intro .logo img {
    border: #000000 0.2rem solid;
  }
}
