@import url("import.css?v=260110");

:root {
  --theme-color-1: #48683d;
  --theme-color-2: #7ca55b;
  --theme-color-3: #a3c430;
  --theme-color-4: #f6efaa;
  --theme-color-5: #ffffff;
  --bg-color-1: #7ca55b;
  --bg-color-2: #567571;
  --bg-color-3: #766a7e;
  --bg-color-4: #9d202f;
  --font-size-extra-large: 12.8rem;
  --font-size-large: 6.4rem;
  --font-size-normal: 3.2rem;
  --font-size-small: 2rem;
  --font-size-page-header-main: 6.4rem;
  --font-size-page-header-sub: 3.2rem;
  --font-size-page-body-main: 4rem;
  --font-size-page-body-sub: 2rem;
}

html {
  font-size: 1vmin;
}

.txt-size-extra-large {
  font-size: var(--font-size-extra-large);
}

.txt-size-large {
  font-size: var(--font-size-large);
}

.txt-size-normal {
  font-size: var(--font-size-normal);
}

.txt-size-small {
  font-size: var(--font-size-small);
}

.bold {
  font-weight: 700;
}

.txt-color-theme-1 {
  color: var(--theme-color-1);
}

.txt-color-theme-2 {
  color: var(--theme-color-2);
}

.txt-color-theme-3 {
  color: var(--theme-color-3);
}

.txt-color-theme-4 {
  color: var(--theme-color-4);
}

.txt-color-theme-5 {
  color: var(--theme-color-5);
}

.txt-position-left {
  text-align: left;
}

.txt-position-center {
  text-align: center;
}

.txt-position-right {
  text-align: right;
}

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap3 {
  gap: 3rem;
}

.gap4 {
  gap: 4rem;
}

.gap5 {
  gap: 5rem;
}

.gap6 {
  gap: 6rem;
}

/* 메인 페이지 */
.content-area {
  width: 100%;
  height: 100%;
  padding: 14rem 20rem;
  box-sizing: border-box;
}

.appeal-message-list {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.appeal-message {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.appeal-message .main {
  font-size: var(--font-size-extra-large);
  font-weight: 700;
  width: 50rem;
}

.appeal-message .summary {
  font-size: var(--font-size-normal);
  color: var(--theme-color-3);
  list-style-type: disc;
}

.public-relations-area {
  text-align: right;
}

.pr-message {
  color: var(--theme-color-5);
  font-size: var(--font-size-page-body-main);
  line-height: 1.2;
}

.pr-message.line {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.pr-message.line::before {
  content: '';
  flex-grow: 1;
  height: 0.4rem;
  line-height: 0;
  margin-left: -20rem;
  background: var(--theme-color-4);
}

.paper {
  font-size: var(--font-size-extra-large);
}

/* scroll-section background */
.scroll-section-area:nth-of-type(1) {
  /* background: #49b293; */
  background: var(--bg-color-1);
}

.scroll-section-area:nth-of-type(2) {
  /* background: #c94e4b; */
  background: var(--bg-color-2);
}

.scroll-section-area:nth-of-type(3) {
  /* background: #4cc1be; */
  background: var(--bg-color-3);
}

.scroll-section-area:nth-of-type(4) {
  /* background: #8360A6; */
  background: var(--bg-color-4);
}
