/*
clip-path 를 이용한 종이를 사선으로 넘기는 화면 구현
     w
   _____
  |     |
h |     | y
  |_____|
     x
front (0 0, 100 0, 100 100-y, 100-x 100, 0 100)
back (100 100-y, 100 100, 100-x 100)    // 100 100 의 위치가 변함
if (100-x <= 0)   // 좌하단 모서리 넘어설때
front (0 0, 100 0, 100 100-y, 0 100-h)
back (100 100-y, 100 100, 0 100, 0 100-h)   // 100 100, 0 100 의 위치가 변함
if (100-y <= 0)   // 우상단 모서리 넘어설때
front (0 0, 100-w 0, 100-x 100, 0 100)
back (100-w 0, 100 0, 100 100, 100-x 100)   // 100 0, 100 100 의 위치가 변함
if (100-x <= 0 && 100-y <= 0)   // 좌하단 우상단 모서리 다 넘어설때
front (0 0, 100-w 0, 0 100-h)
back (100-w 0, 100 0, 100 100, 0 100, 0 100-h)    // 100 0, 100 100, 0 100 의 위치가 변함

변한 x, y 좌표 기본값
x 면을 기준으로 계산할 때 가로(x') : x * cos(2 * atan2(y, x))
x 면을 기준으로 계산할 때 세로(y') : x * sin(2 * atan2(y, x))
y 면을 기준으로 계산할 때 가로(x') : y * sin(2 * atan2(y, x))
y 면을 기준으로 계산할 때 세로(y') : y * cos(2 * atan2(y, x))

atan2(y, x) 의 값은 접었을때 우하단에 비는 삼각형 내각 중 좌하단의 각도
    /|
   / |
  /  | y
 /___|
   x
이걸 * 2 하면 접었을 때 생기는 각도를 기준으로 x', y' 위치를 알 수 있음

삼각형을 이루는 점이 변화하는 위치는 우상단과 좌하단 두개로 가로와 세로의 합친 길이에서 움직이는것과 같음
좌하단에서 움직이는 점을 a, 우상단에서 움직이는 점을 b 라고 했을 때 이 점이 움직이는 길이는
0 <= a <= x+h
0 <= b <= w+y
를 벗어날 수 없음 (이때 0은 우하단의 모서리 꼭지점을 기준으로 함)

그럼 위에서 나열한 모서리를 넘어서는 조건은 a > x, b > y 가 됨

여기서 atan2는 [(y, x), (y-h, x), (y, x-w), (y-h, x-w)] 로
[삼각형, 좌하단이 넘어선 사각형, 우상단이 넘어선 사각형, 좌하단 우상단 모두 넘어선 오각형]
로 이해함


초기 설정
--paper-width: 종이 크기
--paper-height: 종이 크기

.papers:not(:only-child)
.on이 들어간 경우 현재 페이지 보여주기
.flip이 들어간 경우 종이 접기 실행
<li class="paper flip"></li>    // 접힌 종이
<li class="paper on"></li>    // 다음 페이지가 있을 경우 모서리 끝 접힌 영역 노출
<li class="paper"></li>   // 다음 페이지가 없을 경우 모서리 끝 접힌 영역 노출 안함
.paper + .paper {
// 모서리 끝 접힌 영역 노출
}
.paper:has(+ .paper.on) {
// 현재 노출되고 있는 종이의 이전 종이 접힌 영역 표현
}
*/

:root {
  --screen-width: 500px;
  --screen-height: 500px;
  --paper-flip-width-prev: calc(var(--screen-width) - 20vw);
  --paper-flip-height-prev: calc(var(--screen-height) - 10dvh);
  --paper-flip-width-curr: 10rem;
  --paper-flip-height-curr: 10rem;
  --paper-width: 600px;
  --paper-height: 500px;
  --paper-clip-width: 10rem;
  --paper-clip-height: 5rem;
  --paper-flip-width: 10rem;
  --paper-flip-height: 10rem;
}

.papers {
  width: var(--paper-width); /* 사이즈는 필요한 대로 처리 */
  height: var(--paper-height); /* 사이즈는 필요한 대로 처리 */
  top: 250px;
  left: 250px;
  /* width: 100%;
  height: 100vh;
  height: 100dvh; */
  position: relative;
}

.papers .paper,
.papers .paper .front,
.papers .paper .back {
  width: 100%; /* 사이즈는 필요한 대로 처리 */
  height: 100%;  /* 사이즈는 필요한 대로 처리 */
  /* height: 100dvh; */
}

.paper,
.paper .front,
.paper .back {
  position: absolute;
  overflow: hidden; /* papers 안에서 넘어가는 내용은 hidden 처리 */
}

/* .paper:only-child,
.paper.curr {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.paper:not(:last-child).on {
  background: rgba(255, 255, 255, 0.3);
  clip-path: polygon(
    0 0,
    var(--paper-width) 0,
    var(--paper-width) calc(var(--paper-height) - var(--paper-flip-height-curr)),
    calc(var(--paper-width) - var(--paper-flip-width-curr)) var(--paper-height),
    0 var(--paper-height)
  );
}

.paper.on::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  clip-path: polygon(
    var(--paper-width) calc(var(--paper-height) - var(--paper-flip-height-curr)),
    calc(var(--paper-width) - var(--paper-flip-width-curr)) var(--paper-height),
    calc(
        var(--paper-width) - var(--paper-flip-width-curr) +
          calc(
            var(--paper-flip-width-curr) *
              cos(
                calc(
                  2 * atan2(var(--paper-flip-height-curr), var(--paper-flip-width-curr))
                )
              )
          )
      )
      calc(
        var(--paper-height) -
          calc(
            var(--paper-flip-width-curr) *
              sin(
                calc(
                  2 * atan2(var(--paper-flip-height-curr), var(--paper-flip-width-curr))
                )
              )
          )
      )
  );
}

.paper:not(.on) {
  display: none;
}

.paper.on.flip {
  clip-path: polygon(
    0 0,
    var(--paper-width) 0,
    var(--paper-width) calc(var(--paper-height) - var(--paper-flip-height-prev)),
    calc(var(--paper-width) - var(--paper-flip-width-prev)) var(--paper-height),
    0 var(--paper-height)
  );
  transition-duration: 1s;
  transition-timing-function: linear;
}

.paper.on.flip::after {
  clip-path: polygon(
    var(--paper-width) calc(var(--paper-height) - var(--paper-flip-height-prev)),
    calc(var(--paper-width) - var(--paper-flip-width-prev)) var(--paper-height),
    calc(
        var(--paper-width) - var(--paper-flip-width-prev) +
          calc(
            var(--paper-flip-width-prev) *
              cos(
                calc(
                  2 * atan2(var(--paper-flip-height-prev), var(--paper-flip-width-prev))
                )
              )
          )
      )
      calc(
        var(--paper-height) -
          calc(
            var(--paper-flip-width-prev) *
              sin(
                calc(
                  2 * atan2(var(--paper-flip-height-prev), var(--paper-flip-width-prev))
                )
              )
          )
      )
  );
  transition-duration: 1s;
  transition-timing-function: linear;
}
/* 
.paper:not(:only-child, .prev, .curr) {
  display: none;
}

.paper.prev .front {
  background: rgba(255, 255, 255, 0.3);
  clip-path: polygon(
    0 0,
    var(--screen-width) 0,
    var(--screen-width) calc(var(--screen-height) - var(--paper-flip-height-prev)),
    calc(var(--screen-width) - var(--paper-flip-width-prev)) var(--screen-height),
    0 var(--screen-height)
  );
  transition-duration: 1s;
  transition-timing-function: linear;
}

.paper.prev .front.flip * {
  display: none;
}

.paper.prev .back {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  clip-path: polygon(
    var(--screen-width) calc(var(--screen-height) - var(--paper-flip-height-prev)),
    calc(var(--screen-width) - var(--paper-flip-width-prev)) var(--screen-height),
    calc(
        var(--screen-width) - var(--paper-flip-width-prev) +
          calc(
            var(--paper-flip-width-prev) *
              cos(
                calc(
                  2 * atan2(var(--paper-flip-height-prev), var(--paper-flip-width-prev))
                )
              )
          )
      )
      calc(
        var(--screen-height) -
          calc(
            var(--paper-flip-width-prev) *
              sin(
                calc(
                  2 * atan2(var(--paper-flip-height-prev), var(--paper-flip-width-prev))
                )
              )
          )
      )
  );
  transition-duration: 1s;
  transition-timing-function: linear;
}

.paper.prev .back.flip {
  z-index: 10;
}

.paper.curr .front {
  background: rgba(255, 255, 255, 0.3);
  clip-path: polygon(
    0 0,
    var(--screen-width) 0,
    var(--screen-width) calc(var(--screen-height) - var(--paper-flip-height-curr)),
    calc(var(--screen-width) - var(--paper-flip-width-curr)) var(--screen-height),
    0 var(--screen-height)
  );
  transition-duration: 1s;
  transition-timing-function: linear;
}

.paper.curr .back {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  clip-path: polygon(
    var(--screen-width) calc(var(--screen-height) - var(--paper-flip-height-curr)),
    calc(var(--screen-width) - var(--paper-flip-width-curr)) var(--screen-height),
    calc(
        var(--screen-width) - var(--paper-flip-width-curr) +
          calc(
            var(--paper-flip-width-curr) *
              cos(
                calc(
                  2 * atan2(var(--paper-flip-height-curr), var(--paper-flip-width-curr))
                )
              )
          )
      )
      calc(
        var(--screen-height) -
          calc(
            var(--paper-flip-width-curr) *
              sin(
                calc(
                  2 * atan2(var(--paper-flip-height-curr), var(--paper-flip-width-curr))
                )
              )
          )
      )
  );
  transition-duration: 1s;
  transition-timing-function: linear;
} */