# 예: .github/workflows/docker-deploy.yml
name: CI/CD Pipeline - Docker Build and Deploy

on:
  push:
    branches:
      - master  # master 브랜치에 push 될 때마다 실행

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image and push
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: hyeon37/sage-portfolio:latest

    - name: SSH and deploy on GCP server
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.GCP_SERVER_IP }}
        username: ${{ secrets.GCP_SSH_USER }}
        key: ${{ secrets.GCP_SSH_KEY }}
        script: |
          cd /home/ubuntu/
          docker-compose pull sage-portfolio
          docker-compose up -d sage-portfolio
